@media screen and (min-width: 1350px)
{
	.services
	{
		width: 70%; /*1125px*/
		height: 379px;
		margin: 100px 15%;
		text-align: center;
	}
	.single
	{
		width: 100%; /*1125px;*/
		height: 217px;
		margin-top: 52px;
		display: flex;
		justify-content: space-between;
	}
	.single-block
	{
		width: 346px;
		height: 217px;		
	}
	
	.icon-service
	{
		width: 90px;
		height: 90px;
	}
}

	
