@media screen and (min-width: 1350px)
{
	.works
	{
		width: 1140px;
		height: 1182px;
		margin: 99px auto 100px auto;
		text-align: center;
	}
	.work-examples
	{
		display: grid;
		grid-template-rows: 320px 320px 320px;
		grid-template-columns: 360px 360px 360px;
		grid-gap: 30px; 
		margin-top: 70px;
	}
	.work-examples__pic
	{
		width: 360px;
		height: 320px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #c0301c;
	}
	.work-examples__pic:hover .work-examples-img
	{
		opacity: 0.7;
		transition: all 0.5s;
	}
	.work-examples__pic:hover .view-work
	{
		opacity: 1;
		transition: all 1s;
	}
	.view-work
	{
		width: 111px;
		height: 107px;
		position: absolute;
		opacity: 0;
		z-index: 2;


	}
	.view-work p
	{
		color: #ffffff;
		font-size: 12px;
	}
	.button-view
	{
		width: 100px;
		height: 38px;
		margin-top: 25px;
		border: none;

		color: #c0301c;
		font-family: "Roboto Slab";
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		letter-spacing: 1.4px;

		background-color: #ffffff;
	}
	.work-examples-img
	{
		width: 360px;
		height: 320px;
		position: relative;
		z-index: 0;
	}

}